<div class="card">

  <div class="header">
    <h2 class="title">Flight Dyn Search</h2>
  </div>
  <div class="content">

    <form [formGroup]="dynFilter">

      <ng-container *ngFor="let controlMeta of formMetadata">
        <div class="form-group">
          <label>{{ controlMeta.label }}</label>
          <input [formControlName]="controlMeta.name" class="form-control">
        </div>
      </ng-container>

      <div class="form-group">
        <button
          (click)="search()"
          [disabled]="!dynFilter?.valid"
          class="btn btn-default">
          Search
        </button>
      </div>

    </form>

  </div>
</div>

<div class="row">
  <div *ngFor="let f of flights">

    <div class="col-xs-12 col-sm-6 col-md-4 col-lg-3">
      <flight-card [item]="f"></flight-card>
    </div>

  </div>
</div>
